<!DOCTYPE html>
<html class="h-100" th:fragment="global (titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title th:replace="${titulo}">TÍTULO POR DEFECTO</title>

<base th:href="@{/}">

<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="h-100 d-flex flex-column">
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#" th:href="@{/}">IparTube</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/}">Principal</a></li>
				</ul>
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/registro}">Registro</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container my-5 my-auto">
		<main th:replace="${contenido}">CONTENIDO POR DEFECTO</main>
	</div>

	<footer class="p-2 text-bg-dark text-center"> &copy; 2025
		Javier Lete </footer>

	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
