<!DOCTYPE html>
<html th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="https://thymeleaf.org">
<title>Amazonia: Listado de productos</title>

<main>
	<div class="card mb-3 w-100" th:object="${video}">
		<div class="ratio ratio-16x9">
			<iframe th:src="${video.url}" class="img-fluid rounded-start"></iframe>
		</div>
		<div class="card-body">
			<h5 class="card-title">
				(<span th:text="*{usuario.nombre}">USUARIO</span>)
				<span th:text="*{titulo}">TITULO</span>
			</h5>
			<p class="card-text" th:text="*{descripcion}">EL MEJOR VIDEO</p>
		</div>
	</div>
</main>

</html>
